[menu about_menu]
start = "id-2"
activeNode = 0
listItemClasses = "footer-menu-item"
primaryClasses = "footer-menu"
secondaryClasses = "dropdown-menu"
numberOfLevels = 1

[menu latest_menu]
start = "id-3"
activeNode = 0
listItemClasses = "footer-menu-item"
primaryClasses = "footer-menu"
secondaryClasses = "dropdown-menu"
numberOfLevels = 1

[menu resources_menu]
start = "id-4"
activeNode = 0
listItemClasses = "footer-menu-item"
primaryClasses = "footer-menu"
secondaryClasses = "dropdown-menu"
numberOfLevels = 1

[cookieConsent]
message = "This website uses cookies to ensure you get the best experience on our website."
dismiss = "Got it!"
learnMore = "More info"
link = "/privacy-policy"
theme = "dark-bottom"
==

<div class="container-fluid border-box subscribe-newsletter-background">
    <div class="row container middle-xs between-xs">
        <div class="col-md-2 col-xs-12 start-md center-xs">NEWSLETTER</div>
        <div class="col-md-8 col-xs-12 center-xs">Join our community by subscribing to our bi-annual newsletter.</div>
        <div class="col-md-2 col-xs-12 end-md center-xs"><a href="{{this.theme.subscribe}}" class="btn" target="_blank">Subscribe</a> </div>
    </div>
</div>
<div class="container-fluid border-box dark-background">{% component 'cookieConsent' %}
	<div class="container">
		<div class="row top-xs between-xs footer-menu-container">
            <div class="col-md-6 col-xs-12 footer-right-border">
                <div class="row">
                    <div class="col-xs-12">
                        <img class="project_footer_logo" src="{{ 'assets/images/MAMBO_white.svg'|theme }}" />
                    </div>
                </div>
                <div class="row between-xs">
                    <div class="col-xs-12 col-md-3 start-md center-xs col-sm-6 start-sm">
                        <div class="head">GET IN TOUCH
                            <div class="social-networks">
                                <div class="icons mt-1">
                                    {% if enable_facebook and facebook_url %}
                                    <a href="{{facebook_url}}" target="_blank" class="pr p-secondary p-facebook big" target="_blank"></a>
                                    {% endif %}
                                    {% if enable_twitter and twitter_url %}
                                    <a href="{{twitter_url}}" target="_blank" class="pr p-secondary p-twitter big" target="_blank"></a>
                                    {% endif %}
                                    {% if enable_linkedin and linkedin_url %}
                                    <a  href="{{linkedin_url}}" target="_blank" class="pr p-secondary p-linkedin big" target="_blank"></a>
                                    {% endif %}
                                    {% if enable_youtube and youtube_url %}
                                    <a  href="{{youtube_url}}" target="_blank" class="pr p-secondary p-youtube big" target="_blank"></a>
                                    {% endif %}
                                    {% if enable_instagram and instagram_url %}
                                    <a  href="{{instagram_url}}" target="_blank" class="pr p-secondary p-instagram big" target="_blank"></a>
                                    {% endif %}
                                    <a href="{{'contact'|page}}" class="pr p-secondary p-mail big"></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-md-3 start-md center-xs col-sm-6 start-sm">
                        <div class="head">ABOUT</div>
                        {% component 'about_menu' %}
                    </div>
                    <div class="col-xs-12 col-md-3 start-md center-xs col-sm-6 start-sm">
                        <div class="head">LATEST</div>
                        {% component 'latest_menu' %}
                    </div>
                    <div class="col-xs-12 col-md-3 start-md center-xs col-sm-6 start-sm">
                        <div class="head">RESOURCES</div>
                        {% component 'resources_menu' %}
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-xs-12">
                {% if (footer_funds_flag != null or footer_funds_text != '') %}
                <div class="funding flex-column my-1 my-lg-0 flex-lg-row px-1 align-items-center col-sm col-xs-12">
                    {% if footer_funds_flag %}
                    <img class="text mr-0 mr-lg-1" style="height:50px;" src="{{ footer_funds_flag }}"/>
                    {% endif %}
                    {% if footer_funds_text %}
                    <span class="align-items-center mt-sm-0 mt-1">{{footer_funds_text}}</span>
                    {%endif %}
                </div>
                <div class="funding-text">
                    <p>MAMBO receives funding from the European Union's Horizon Europe research and innovation programme under grant agreement No.101060639</p>
                    <p>Views and opinions expressed are those of the author(s) only and do not necessarily reflect those of the European Union or the European Commission. Neither the EU nor the EC can be held responsible for them.</p>
                </div>
                {% endif %}
                <div class="row between-xs middle-xs">
                    <div class="col-md-8 col-xs-12">
                        <div class="powered-by my-1 my-lg-0 px-1 start-sm center-xs">
                        <span>Designed and powered by <a href="https://pensoft.net/" target="_blank">
                            <img class="pensoft_logo" src="{{ 'assets/images/pensoft-logo.svg'|theme }}" /></a>
                        </span></div>
                    </div>
                    <div class="col-sm-4 col-xs-12 center-xs"><a style="flex:0 0 auto; font-size: 18px;" href="/privacy-policy">Privacy Policy</a></div>
                </div>
            </div>
		</div>
	</div>
</div>
