[menu]
start = "id-1"
activeNode = 0
listItemClasses = "nav-item"
primaryClasses = "navbar-nav"
secondaryClasses = "dropdown-menu"
numberOfLevels = 2

==

<nav class="navbar {% if this.page.id != 'home' %} fixed pr-1 pl-1{% endif %}" {% if this.page.id == 'home' %}style="z-index: 1030;"{% endif %} id="headernavbar">
    <div id="menuToggle">
        <input type="checkbox" />
        <span></span>
        <span></span>
        <span></span>
        {% component 'menu' %}
    </div>

    {% if this.page.id != 'home' %}
    <a href="{{'home'|page}}" class="navbar-brand" style="background-image: url('{{ this.theme.site_logo.getPath() }}'); background-position: center; background-size: contain;"></a>
    {% endif %}


    <div class="navbar-collapse collapse end-xs" id="headerNavbarNav" style="display: none;">
        {% component 'menu' %}
        <div id="headerNavbarLogin">
            <ul class="navbar-nav" style="padding: 0; margin: 0;">

            </ul>
        </div>
    </div>
    <a class="pr p-search large search-btn" onclick="showSearchForm();"></a>

    <div id="search" class="search" style="display: none;">
        <div class="close-search" onclick="hideSearchForm();"></div>
        <form class="input-group align-items-start" action="{{ url('search')}}" method="get">
            <input class="form-control search_input" style="color: #000;" name="q" type="text" autocomplete="on" placeholder="Search">
            <button class="btn btn-link pr p-search big text-grey-search-btn" type="submit"></button>
        </form>
    </div>

</nav>




{% if this.theme.header_image %}
<div class="header-image {{page_id}}">
    {%if page_id != 'home' %}
    {%if this.page.header_image %}
    <div class="header-image-bar" style="background-image: url('{{this.page.header_image|media}}'); background-position: left center;"></div>
    {%else%}
    <div class="header-image-bar" style="background-image: url('{{this.theme.header_image.getPath()}}'); background-position: left center;"></div>
    {%endif%}
    <div class="jumbotron container" data-aos="fade-right">
        <h1 class="underline white ">{%if page_title and page_id != 'home' %} {{page_title}} {%endif%}</h1>
    </div>
    {% endif %}
</div>
{% endif %}

{% if page_id == 'home' and tag_line %}
<p>{{tag_line}}</p>
{% endif %}

