url = "/contact"
layout = "default"
title = "Contact"
is_hidden = 0
robot_index = "index"
robot_follow = "follow"
header_image = "contact.jpg"

[siteSearchInclude]
==
<?php
use Pensoft\Cardprofiles\Models\Profiles;

function onStart(){
	$this['profiles'] =  Profiles::where('category_id', 2)->get();
}
?>
==
{% component 'siteSearchInclude' %}

<div class="container">
	<div class="row profile-item-container">
		{% for profile in profiles %}
			<div class="col-xs-12 col-md-6 profile-item">
				<div class="contact_info row">
					<div class="col-md-5 col-xs-12 coordinator_image aos-init aos-animate" data-aos="fade-up">
                        {% if profile.avatar %}
                        <img src="{{profile.avatar.thumb(307, 307, {'mode':'crop'})}}" class="fr-fic fr-dii">
                        {% else %}
                        <img alt="{{ profile.names }}" src="{{ 'avatar.svg'|media }}" class="no-image">
                        {% endif %}
                    </div>
					<div class="col-md col-xs-12 coordinator_info">
						<h2>{{profile.names}}</h2>
						{% if profile.position %}<p class="card_title">{{profile.position}}</p>{% endif %}
						{% if profile.department %}<p class="contact_affiliation">{{profile.department}}</p>{% endif %}
						{% if profile.address %}<p class="contact_address"><i class="pr big p-location"></i>{{profile.address}}</p>{% endif %}
						{% if profile.phone %}<p class="contact_phone"><i class="pr big p-phone"></i>{{profile.phone}}</p>{% endif %}
						{% if profile.email %}<p class="contact_mail"><i class="pr big p-mail"></i><a href="mailto:{{profile.email}}">E-mail</a></p>{% endif %}
					</div>
				</div>
			</div>
		{% endfor %}
	</div>

</div>
