url = "/events/:slug?|[a-zA-Z\-0-9]"
layout = "default"
title = "Events"
is_hidden = 0
robot_index = "index"
robot_follow = "follow"
header_image = "events.jpg"

[calendar]
default = "true"
limit = "null"
category = "null"
language = "en"
redirect_to_detailed_page = "false"
==
<?php
use Pensoft\Calendar\Models\Entry;

function onStart(){

    if($this->param('slug')){
$this['entry'] =  Entry::select(
'*',
'title',
'place',
'description',
'url',

DB::raw("to_char(\"start\", 'DD') as start_day"),
DB::raw("to_char(\"start\", 'YYYY') as start_year"),
DB::raw("to_char(\"end\", 'DD') as end_day"),
DB::raw("to_char(\"end\", 'YYYY') as end_year"),
DB::raw("to_char(\"start\", 'month') as start_month"),
DB::raw("to_char(\"end\", 'month') as end_month"),
DB::raw("
\"end\" is not null as has_end
")


)->where('slug', $this->param('slug'))->first();



\BennoThommo\Meta\Meta::set('twitter:card', 'summary');
\BennoThommo\Meta\Meta::set('twitter:title', $this['entry']['title']);
\BennoThommo\Meta\Meta::set('twitter:description', str_limit(Html::strip($this['entry']['description']), 255));
\BennoThommo\Meta\Meta::set('og:title', $this['entry']['title']);
\BennoThommo\Meta\Meta::set('og:description', str_limit(Html::strip($this['entry']['description']), 255) );
\BennoThommo\Meta\Meta::set('og:type', 'article');
\BennoThommo\Meta\Meta::set('og:url', $this->pageUrl(''));
if($this['entry']['cover_image']){
\BennoThommo\Meta\Meta::set('twitter:image', $this['entry']['cover_image']->getThumb(300, 300, ['mode' => 'crop']));

\BennoThommo\Meta\Meta::set('og:image', $this['entry']['cover_image']->getThumb(600, 314, ['mode' => 'crop']));
\BennoThommo\Meta\Meta::set('og:image:width', 600);
\BennoThommo\Meta\Meta::set('og:image:height', 314);
}

}
$this['page_url'] = $this->pageUrl('');
$this['entries'] = Entry::orderBy('start', 'desc')->paginate(20);

$this['slug'] = $this->param('slug');
}
?>
==
{% if not slug %}
<div class="container">
    <div class="tabs">
        <a class="" href="#calendarView">Calendar view</a>
        <a class="" href="#listView">List view</a>
    </div>
</div>
<!--tabs content	-->
    <div class="container">
        <div class="row" id="calendarView">
            {% component 'calendar' %}
        </div>
        <div class="row" id="listView">
            <div class="events_list_container">
                {% for entry in entries %}
                {% set url = entry.url ?  entry.url : '/events/' ~ entry.slug %}

                <div class="event_list_item">
                    <div class="row between-xs time_and_date">
                        <div class="col-md-2 start-md col-xs-12 center-xs">{{entry.event_date}}</div>
                        <div class="col-md-1 start-md col-xs-12 center-xs">{{entry.start|date('l')}}</div>
                        <div class="col-md start-md col-xs-12 center-xs">{{entry.event_time}}</div>
                    </div>
                    <div class="row">
                        <!--<div class="col-xs-1">{{entry.start|date('g:i')}}</div> <div class="col-xs-11">{{entry.title}}</div>-->
                        <div class="col-xs-12"><a class="button" href="{{ url }}" target="_blank">{{entry.title}}</a></div>
                    </div>
                </div>

                {% endfor %}
            </div>
            <div class="row container">
                {{ entries.fragment('listView').render|raw }}
            </div>

        </div>
    </div>


{% else %}

{% if entry %}
<div class="container">
    <div class="row newslist single-news-item">

        <div class="col-xs-12">

            <div class="news-title">
                <h1 class="single-new-title">{{ entry.title }}</h1>
            </div>
            {% if entry.event_date %}
            <div class="event-date">
                {{entry.event_date}}
            </div>
            {% endif %}

            <div class="content mt-2 mb-2">
                {{ entry.description|raw }}
            </div>


            {% if entry.url %}
            <a href="{{entry.url}}" class="btn btn-primary mb-1 mt-1" target="_blank">Go to event website</a>
            {% endif %}
            {% set encoded_title = entry.title|url_encode %}
            {% set slug = entry.slug %}
            <div class="row share_container middle-xs">
                <div class="col-cx-2 start-xs">Share</div>
                <div class="col-cx-10 end-xs">
                    {% if this.theme.twitter %}
                    <a href="http://twitter.com/share?text={{article.title}}&url={{page_url}}" target="_blank" class="btn p-primary pr p-twitter normal"></a>
                    {% endif %}
                    {% if this.theme.facebook %}
                    <a href="https://www.facebook.com/sharer/sharer.php?u={{page_url}}&amp;src=sdkpreparse" target="_blank" class="btn pr p-primary p-facebook normal"></a>
                    {% endif %}
                    {% if this.theme.linkedin %}
                    <a href="https://www.linkedin.com/sharing/share-offsite/?url={page_url}" target="_blank" class="btn pr p-primary p-linkedin normal"></a>
                    {% endif %}</div>
            </div>

        </div>

    </div>
    {% endif %}
</div>

{% endif %}
