url = "/"
layout = "default"
title = "MAMBO"
is_hidden = 0
meta_description = "homepage desc"
seo_keywords = "keywords"
robot_index = "index"
robot_follow = "follow"

[article_highlights]
maxItems = 3
title = "Latest news"
baseUrl = "/news"
templates = "template4"
thumb_width = 440
thumb_height = 235

[jumbotron vision]
jumbotron = "vision"
title = 1
background = "transperant"
templates = "template1"
description_limit = 0

[jumbotron mission]
jumbotron = "mission"
title = 1
background = "transperant"
templates = "template1"
description_limit = 0

[jumbotron numbers]
jumbotron = "numbers"
title = 1
background = "transperant"
templates = "template1"
description_limit = 0
==
<!-- vision -->
<div class="container-fluid bg-secondary vision">
		<div class="row between-md around-xs">
			<div class="col-sm-6 col-xs-12">
				{% component 'vision' %}
			</div>
			<div class="col-sm-6 col-xs-12 ">
                &nbsp;
			</div>
		</div>
</div>
<!-- mission -->
<div class="container-fluid bg-secondary mission">
        <div class="row between-md around-xs">
            <div class="col-sm-6 col-xs-12 ">
                &nbsp;
            </div>
            <div class="col-sm-6 col-xs-12 ">
                {% component 'mission' %}
            </div>
        </div>
</div>

<!-- latest from news -->
<div class="container">
    {% component 'article_highlights' %}
    <div class="row">
        <div class="col-xs-12 center-xs"><a href="{{'news'|page}}" class="btn btn-primary" style="width: 250px;">All news</a> </div>
    </div>
</div>

<!-- numbers -->
<div class="container-fluid bg-secondary">
    <div class="numbers_container">
        {% component 'numbers' %}
    </div>
</div>


	<div class="container">
	<!-- subscribes -->
	<div class="row between-xs">

        <div class="col-xs-12"><h1 class="display-1">Follow MAMBO</h1></div>
        <div class="col-lg-6 col-sm-5 col-xs-12">
			<div class="twitter-widget">
			    <a class="twitter-timeline" href="https://twitter.com/mambo_eu?ref_src=twsrc%5Etfw">Tweets by mambo_eu</a>
                <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
			</div>
		</div>
		<div class="col-sm-6 col-xs-12 social-media-container">
            <div class="subscribe-items">
                {% if this.theme.twitter %}
                <a href="{{this.theme.twitter_url}}" target="_blank" class="btn p-primary pr p-twitter medium"></a>
                {% endif %}
                {% if this.theme.facebook %}
                <a href="{{this.theme.facebook_url}}" target="_blank" class="btn pr p-primary p-facebook medium"></a>
                {% endif %}
                {% if this.theme.linkedin %}
                <a href="{{this.theme.linkedin_url}}" target="_blank" class="btn pr p-primary p-linkedin medium"></a>
                {% endif %}
                {% if this.theme.youtube %}
                <a href="{{this.theme.youtube_url}}" target="_blank" class="btn pr p-primary p-youtube medium"></a>
                {% endif %}
                {% if this.theme.instagram %}
                <a href="{{this.theme.instagram_url}}" target="_blank" class="btn pr p-primary p-instagram medium"></a>
                {% endif %}
                {% if this.theme.researchgate %}
                <a href="{{this.theme.researchgate_url}}" target="_blank" class="btn pr p-primary p-researchgate medium" style="width: 64px;"></a>
                {% endif %}
            </div>
		</div>
	</div>

</div>
