url = "/media-center"
layout = "default"
title = "Media center"
is_hidden = 0
robot_index = "index"
robot_follow = "follow"
header_image = "about.jpg"

[siteSearchInclude]
==
<?php
use Pensoft\Media\Models\MediaLogos;
use Pensoft\Media\Models\Flyers;
use Pensoft\Media\Models\Newsletters;
use Pensoft\Media\Models\Presentations;
use Pensoft\Media\Models\Pressreleases;
use Pensoft\Media\Models\Videos;
use Pensoft\Media\Models\Graphic;

function onStart(){
	$this['logos'] =  MediaLogos::get();
	$this['flyers'] =  Flyers::get();
	$this['newsletters'] =  Newsletters::get();
	$this['presentations'] =  Presentations::get();
	$this['pressreleases'] =  Pressreleases::get();
	$this['videos'] =  Videos::get();
	$this['graphics'] =  Graphic::get();
}
?>
==
{% component 'siteSearchInclude' %}
<main id="main-content" role="main">
    <section class="container-fluid bg_media" aria-labelledby="media-center-heading">
        <div class="container">
            <h1 id="media-center-heading" class="sr-only">Media Center</h1>
            <div class="row">
                <nav class="col-lg-8 col-md-10 col-xs-12" aria-label="Media center categories">
                    <div class="row">
                        {% if logos.count() %}
                        <div class="col-md-4 col-sm-6 col-xs-12">
                            <div class="card-container text-center">
                                <a href="{{url('media-center')}}/brand-kit" aria-label="Brand kit">
                                    <span class="card_image_container media-icon" role="img" aria-label="Brand kit icon" style="background: url({{'pensoft/media1.svg'|media}}) center center no-repeat;"></span>
                                    <span class="media_label">Brand kit</span>
                                </a>
                            </div>
                        </div>
                        {% endif %}
                        {% if flyers.count() %}
                        <div class="col-md-4 col-sm-6 col-xs-12">
                            <div class="card-container text-center">
                                <a href="{{url('media-center')}}/flyer" aria-label="Promotional materials">
                                    <span class="card_image_container media-icon" role="img" aria-label="Promotional materials icon" style="background: url({{'pensoft/media2.svg'|media}}) center center no-repeat;"></span>
                                    <span class="media_label">Promotional materials</span>
                                </a>
                            </div>
                        </div>
                        {% endif %}

                        {% if pressreleases.count() %}
                        <div class="col-md-4 col-sm-6 col-xs-12">
                            <div class="card-container text-center">
                                <a href="{{url('media-center')}}/press-releases" aria-label="Announcements">
                                    <span class="card_image_container media-icon" role="img" aria-label="Announcements icon" style="background: url({{'pensoft/media3.svg'|media}}) center center no-repeat;"></span>
                                    <span class="media_label">Announcements</span>
                                </a>
                            </div>
                        </div>
                        {% endif %}
                        {% if newsletters.count() %}
                        <div class="col-md-4 col-sm-6 col-xs-12">
                            <div class="card-container text-center">
                                <a href="{{url('media-center')}}/newsletters" aria-label="Newsletters">
                                    <span class="card_image_container media-icon" role="img" aria-label="Newsletters icon" style="background: url({{'pensoft/media4.svg'|media}}) center center no-repeat;"></span>
                                    <span class="media_label">Newsletters</span>
                                </a>
                            </div>
                        </div>
                        {% endif %}

                        {% if videos.count() %}
                        <div class="col-md-4 col-sm-6 col-xs-12">
                            <div class="card-container text-center">
                                <a href="{{url('media-center')}}/videos" aria-label="Videos">
                                    <span class="card_image_container media-icon" role="img" aria-label="Videos icon" style="background: url({{'pensoft/media5.svg'|media}}) center center no-repeat;"></span>
                                    <span class="media_label">Videos</span>
                                </a>
                            </div>
                        </div>
                        {% endif %}
                        <!--        //Presentations-->
                        {% if presentations.count() %}
                        <div class="col-md-4 col-sm-6 col-xs-12">
                            <div class="card-container text-center">
                                <a href="{{url('media-center')}}/presentations" aria-label="Presentations">
                                    <span class="card_image_container media-icon" role="img" aria-label="Presentations icon" style="background: url({{'pensoft/Presentations.svg'|media}}) center center no-repeat;"></span>
                                    <span class="media_label">Presentations</span>
                                </a>
                            </div>
                        </div>
                        {% endif %}
                        <!--        //graphics-->
                        {% if graphics.count() %}
                        <div class="col-md-4 col-sm-6 col-xs-12">
                            <div class="card-container text-center">
                                <a href="{{url('media-center')}}/other" aria-label="Other">
                                    <span class="card_image_container media-icon" role="img" aria-label="Other media icon" style="background: url({{'pensoft/media6.svg'|media}}) center center no-repeat;"></span>
                                    <span class="media_label">Other</span>
                                </a>
                            </div>
                        </div>
                        {% endif %}


                    </div>
                </nav>
                <div class="col-md-4 col-xs-12"></div>
            </div>

        </div>
    </section>
</main>
