url = "/media-center"
layout = "default"
title = "Media center"
is_hidden = 0
robot_index = "index"
robot_follow = "follow"
header_image = "media.jpg"
==
<?php
use Pensoft\Media\Models\MediaLogos;
use Pensoft\Media\Models\Flyers;
use Pensoft\Media\Models\Newsletters;
use Pensoft\Media\Models\Presentations;
use Pensoft\Media\Models\Pressreleases;
use Pensoft\Media\Models\Videos;
use Pensoft\Media\Models\Graphic;

function onStart(){
	$this['logos'] =  MediaLogos::get();
	$this['flyers'] =  Flyers::get();
	$this['newsletters'] =  Newsletters::get();
	$this['presentations'] =  Presentations::get();
	$this['pressreleases'] =  Pressreleases::get();
	$this['videos'] =  Videos::get();
	$this['graphics'] =  Graphic::get();
}
?>
==
<div class="container">
	<div class="row">
		{% if logos.count() %}
		<div class="col-md-4 col-sm-6 col-xs-12">
			<div class="card-container text-center">
				<a href="{{url('media-center')}}/logo" title="Logo">
					<span class="card_image_container" style="background: url({{'pensoft/logo-pack.svg'|media}}) center center no-repeat;" href="{{url('media-center')}}/logo" title="Logo"></span>
					<span class="media_label">Logo pack</span>
				</a>
			</div>
		</div>
		{% endif %}
		{% if flyers.count() %}
		<div class="col-md-4 col-sm-6 col-xs-12">
			<div class="card-container text-center">
				<a href="{{url('media-center')}}/flyer" title="Promotional materials">
					<span class="card_image_container" style="background: url({{'pensoft/promo-materials.svg'|media}}) center center no-repeat;" href="{{url('media-center')}}/flyer" title="Flyer and poster"></span>
					<span class="media_label">Promotional materials</span>
				</a>
			</div>
		</div>
		{% endif %}

		{% if pressreleases.count() %}
		<div class="col-md-4 col-sm-6 col-xs-12">
			<div class="card-container text-center">
				<a href="{{url('media-center')}}/press-releases" title="Press releases">
					<span class="card_image_container" style="background: url({{'pensoft/press-releases.svg'|media}}) center center no-repeat;" href="{{url('media-center')}}/press-releases" title="Press releases"></span>
					<span class="media_label">Press releases</span>
				</a>
			</div>
		</div>
		{% endif %}
        {% if newsletters.count() %}
        <div class="col-md-4 col-sm-6 col-xs-12">
            <div class="card-container text-center">
                <a href="{{url('media-center')}}/newsletters" title="Newsletters">
                    <span class="card_image_container" style="background: url({{'pensoft/newsletter.svg'|media}}) center center no-repeat;" href="{{url('media-center')}}/newsletters" title="Newsletters"></span>
                    <span class="media_label">Newsletters</span>
                </a>
            </div>
        </div>
        {% endif %}


        <!--        //Policy briefs-->
		{% if presentations.count() %}
		<div class="col-md-4 col-sm-6 col-xs-12">
			<div class="card-container text-center">
				<a href="{{url('media-center')}}/policy-briefs" title="Policy briefs">
					<span class="card_image_container" style="background: url({{'pensoft/policy-briefs.svg'|media}}) center center no-repeat;" href="{{url('media-center')}}/policy-briefs" title="Policy briefs"></span>
					<span class="media_label">Policy briefs</span>
				</a>
			</div>
		</div>
		{% endif %}
		{% if videos.count() %}
		<div class="col-md-4 col-sm-6 col-xs-12">
			<div class="card-container text-center">
				<a href="{{url('media-center')}}/videos" title="Videos">
					<span class="card_image_container" style="background: url({{'pensoft/videos.svg'|media}}) center center no-repeat;" href="{{url('media-center')}}/videos" title="Videos"></span>
					<span class="media_label">Videos</span>
				</a>
			</div>
		</div>
		{% endif %}





		{% if graphics.count() %}
		<div class="col-md-4 col-sm-6 col-xs-12">
			<div class="card-container text-center">
				<a href="{{url('media-center')}}/policy-briefs" title="Policy briefs">
					<span class="card_image_container" style="background: url({{'pensoft/press_releases.svg'|media}}) center center no-repeat;" href="{{url('media-center')}}/policy-briefs" title="Policy briefs"></span>
					<span class="media_label">Policy briefs</span>
				</a>
			</div>
		</div>
		{% endif %}

	</div>
	<p>&nbsp;</p>
</div>
