url = "/partners"
layout = "default"
title = "Partners"
is_hidden = 0
robot_index = "index"
robot_follow = "follow"
header_image = "about.jpg"
==
<?php
use Pensoft\Partners\Models\Partners;
use Pensoft\Cardprofiles\Models\Profiles;

function onStart(){
	$this['partners'] =  Partners::where('type', 1)->get();
	$this['a_partners'] =  Partners::where('type', '!=', 1)->get();
$this['members'] = Profiles::where('category_id',  1)->get();

}

function onPartners(){
$this['partners'] = [];
if(post('code')){
$this['partners'] =  Partners::whereRaw('country_code ILIKE \'%'.post('code').'%\'')->where('type', 1)->get();
}
$this['insider_members'] = new class {
public function getIM($id) {
return Profiles::where('partner_id', $id)->where('category_id',  1)->get();
}
};
}

function onSinglePartner(){
$this['partners'] = [];
if(post('partner_id')){
$this['partners'] =  Partners::where('id', post('partner_id'))->where('type', 1)->get();
}
$this['insider_members'] = new class {
public function getIM($id) {
return Profiles::where('partner_id', $id)->where('category_id',  1)->get();
}
};
}
?>
==
<div class="container-fluid partners_background">
    <div class="svg_map">
        {% partial 'components/svg' %}
    </div>
    <div class="container">
        <span class="tooltiptext" id="tooltip">Bulgaria</span>
        <div class="row">
            <div class="col-md-7 col-xs-12 partners_list">
                <div class="row">
                    <div class="col-xs-12">
                        {% for partner in partners %}
                        <a class="parener_logo" onclick="onCustomSinglePartner({{partner.id}});" title="{{partner.instituion}}"><img class="partner_cover" src="{{partner.cover.thumb(116, auto, {'mode':'crop'})}}"></a>
                        {% endfor %}
                    </div>
                </div>
                <div class="row assoc_partners half-a-border-on-top">
                    <div class="col-xs-12">
                        {% for item in a_partners %}
                        <div class="row partner-item middle-xs aff">
                            <div class="col-md-3 col-xs-12"><a class="parener_logo" href="{{item.instituion_url}}" target="_blank" title="{{item.instituion}}"><img class="partner_cover" src="{{item.cover.thumb(116, auto, {'mode':'crop'})}}"></a></div>
                            <div class="col-md-9 col-xs-12">
                                <div class="assoc_partner_title partner_title mb-2">
                                    <a href="{{item.instituion_url}}" title="{{item.instituion}}" target="_blank">{{item.instituion}}</a>
                                </div>
                                <div class="assoc_partner_info partner_description mb-2">
                                    {{item.content|raw}}
                                </div>
                            </div>
                        </div>


                        {% endfor %}
                    </div>
                </div>
                <div class="row container partners-map-container">
                    <div id="mycomponentpartners" class="row">
                    </div>
                    
                </div>
            </div>
            <div class="col-md-5 col-xs-12"></div>
        </div>

    </div>

</div>