url = "/pilots/:code?|[a-zA-Z\-0-9]+"
layout = "default"
title = "Pilots"
is_hidden = 0
robot_index = "index"
robot_follow = "follow"
header_image = "about.jpg"

[siteSearchInclude]

[jumbotron pilots_intro]
jumbotron = "pilots-intro"
title = 0
background = "transperant"
templates = "template1"
description_limit = 0
==
<?php
use Pensoft\Pilots\Models\Pilot;
use Pensoft\Partners\Models\Partners;

function onStart()
{
    $this['pilots'] = Pilot::where('published', 'true')->orderBy('sort_order')->orderBy('title', 'asc')->get();

    $code = $this->param('code');

    if ($code && ctype_digit($code)) {
        $this['pilots'] = Pilot::where('pilot_number', $code)->get();
    }
}
?>
==
{% component 'siteSearchInclude' %}

<div class="container-fluid pilots">

    <div class="pilots-intro">
        {% component 'pilots_intro' %}
    </div>
    
    <div class="container">
        <div class="row pilot-row">
            {% for pilot in pilots %}
            <div class="col-xs-12 pilot-item">
                <div class="row pilot-content">
                    {% if pilot.title %}
                    <div class="col-xs-12 pilot-header mb-1">{{ pilot.title }}</div>
                    {% endif %}
                    {% if pilot.intro %}
                    <div class="col-xs-12 intro">{{ pilot.intro | raw }}</div>
                    {% endif %}
                    {% if pilot.name %}
                    <div class="col-xs-12 name mb-1"><span class="subhead">Name: </span>{{ pilot.name }}</div>
                    {% endif %}
                    {% if pilot.stakeholders %}
                    <div class="col-xs-12 stakeholders mb-1">
                        {{pilot.stakeholders | raw}}
                    </div>
                    {% endif %}
                    <div class="col-xs-12 timeline-d mb-1">
                        <span class="subhead">Timeline: </span>
                        {% if pilot.timeline_start %}
                        {{ pilot.timeline_start|date('F Y') }}
                        {% endif %}
                        -
                        {% if pilot.timeline_end %}
                        {{ pilot.timeline_end|date('F Y') }}
                        {% endif %}
                    </div>                    
                    {% if pilot.objectives %}
                    <div class="col-xs-12 objectives mb-1">
                        {{ pilot.objectives | raw }}
                    </div>
                    {% endif %}
                </div>
                {% if pilot.contacts %}
                <div class="pilot-seperator mb-1"></div>
                {% endif %}
                <div class="row pilot-contact between-xs">
                    <div class="col-md-8 col-xs-12">
                        {% if pilot.contacts %}
                        <div class="row contact-row">
                            <span class="subhead mr-1">Contact info: </span>
                            {% for contact in pilot.contacts %}
                            <div class="pilot-contact-info">
                                {% if contact.email %}
                                <a class="pilot-contact-name" href="mailto:{{ contact.email }}">
                                    {{ contact.names }} &nbsp; <span>{% if contact.partner.instituion %} ({{ contact.partner.instituion }}) {% endif %}</span>
                                </a>
                                {% else %}
                                <a class="pilot-contact-name">
                                    {{ contact.names }} &nbsp; <span>{% if contact.partner.instituion %} ({{ contact.partner.instituion }}) {% endif %}</span>
                                </a>
                                {% endif %}
                            </div>
                        {% endfor %}
                        
                        </div>
                        {% endif %}
                    </div>
                    {% if pilot.link_to_news %}
                    <div class="col-md-4 col-xs-12 end-xs">
                        <a href="{{pilot.link_to_news}}" class="btn btn-primary">Find out more</a>
                        {% if pilot.id == 9 %}
                        <a href="https://publishers.fairassist.org/" target="_blank" class="btn btn-primary">Handbook</a>
                        {% endif %}
                        {% if pilot.id == 4 %}
                        <a href="https://lab.hypatia-comp.athenarc.gr/" target="_blank" class="btn btn-primary">Hypatia lab</a>
                        {% endif %}
                    </div>
                    {% endif %}
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>

<a class="toTheTop" title="Back to the top">&nbsp;</a>