url = "/media-center/press-releases"
layout = "default"
title = "Media center"
is_hidden = 0
robot_index = "index"
robot_follow = "follow"
header_image = "media.jpg"

[builderList mediaPressReleasesList]
modelClass = "pensoft\Media\Models\Pressreleases"
scope = "-"
scopeValue = "{{ :scope }}"
displayColumn = "name"
noRecordsMessage = "No records found"
detailsPage = "-"
detailsUrlParameter = "id"
pageNumber = "{{ :page }}"
==
<?php
use Pensoft\Media\Models\Pressreleases;

function onStart(){
	$this['mediaPressreleasesList'] =  Pressreleases::get();
}
?>
==
<div class="container">

	<div class="row press-relieses-container">
		{% set records = mediaPressreleasesList %}
		{% set displayColumn = mediaPressreleasesList.displayColumn %}
		{% set noRecordsMessage = mediaPressreleasesList.noRecordsMessage %}
		{% set detailsPage = mediaPressreleasesList.detailsPage %}
		{% set detailsKeyColumn = mediaPressreleasesList.detailsKeyColumn %}
		{% set detailsUrlParameter = mediaPressreleasesList.detailsUrlParameter %}

		{% for record in records %}
		{# Use spaceless tag to remove spaces inside the A tag. #}
		{% spaceless %}
		<div class="col-xs">
			<div class="press-relies-item">
				<span class="card_title">{{record.name}}</span><br><br>
				<span class="date"> {{record.date |date('F Y')}}</span> <br><br>
				<div class="body">{{record.description | raw}}</div>
				<div class="row link mt-2">
					{% for link in record.link %}
					<a href="{{link.url}}" target="_blank" class="btn btn-primary">{{link.text}}</a>
					{% endfor %}
				</div>
			</div>
		</div>


		{% endspaceless %}
		{% else %}
		{{ noRecordsMessage }}
		{% endfor %}
	</div>
</div>
