
.navbar {
    position: absolute;
    width: 99vw;
    height: 105px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    color: @navbar-color;
    //background-color: transparent;
    transition: background-color 0.3s;
    box-sizing: border-box;

    .breakpoint-small-down({
        width: 100vw;
    });

    a {
        color: @navbar-font-color;
    }

    &.fixed {
        position: fixed;
        z-index: @zindex-fixed;
        background: @dark-color;
    }

    &.scrolled {
        background-color: @navbar-bkg-color !important;
    }

    .navbar-brand {
      display: flex;
      flex-basis: 255px;
      height: 90px;
      background-repeat: no-repeat;
      .breakpoint-small-down({
        flex-basis: 205px;
      });
    }

    .navbar-nav{
      list-style-type: none;
    }

    .dropdown{
      .dropdown-menu{
        background: @link-color;
          border-radius: 10px;
      }
    }

    .navbar-collapse {
        display: flex;
        flex-basis: 100%;
        flex-grow: 1;
        flex-direction: column-reverse;
        align-items: center;
        background-color: inherit;

        .navbar-nav {
            display: flex;
            flex-basis: 100%;
            width: 100%;
            max-width: fit-content;
            flex-grow: 1;
            padding-left: 0.5rem;
            padding-right: 0.5rem;
            padding-top: 1rem;
            padding-bottom: 1rem;
            justify-content: space-around;
            background-color: inherit;
            flex-direction: column;
            box-sizing: border-box;
            align-items: center;
            z-index: @zindex-dropdown;
            .font-size(2);
            font-weight: 500;

            .nav-item {
                display: block;

                padding-top: 0;
                padding-bottom: 0;
                padding-left: 0;
                padding-right: 0;
                z-index: @zindex-dropdown;
                cursor: pointer;
                text-align: center;

                &>a {
                    padding-left: 0.5rem;
                    padding-right: 0.5rem;
                    padding-top: 0.6rem;
                    padding-bottom: 0.6rem;
                    margin-left: 0.4rem;
                    margin-right: 0.4rem;
                    white-space: nowrap;
                    text-overflow: ellipsis;
                    max-width: 100%;

                    &:hover {
                        color: @link-color;
                    }

                }

                &.active a{
                    color: @link-color;
                }

                background-color: inherit;

            }
        }
    }


    .breakpoint-large({
        flex-wrap: nowrap;
        input[type='checkbox']{
          display: none;
        }

        .navbar-toggler {
            display: none;
        }
        .navbar-collapse {
            display: flex !important;
            -ms-flex-preferred-size: 100%;
            flex-basis: auto !important;
            -ms-flex-positive: 1;
            -ms-flex-align: center;
            align-items: center;
            flex-direction: row;
            padding-left: 0;
            padding-right: 0;
            width: 100%;

            .navbar-nav {
                justify-content: flex-start;
                flex-direction: row;
                width: 100%;
                .font-size(1);


                .nav-item {
                    text-align: left;

                    &.dropdown {
                         &:hover > .dropdown-menu {
                            display: block;

                        }

                        .dropdown-menu {
                          display: none;
                        position: absolute;
                        top: 75px;
                        padding: 15px 85px 15px 19px!important;
                        margin-left: 15px;
                            a{
                                padding: 0!important;
                                font-size: 16px;
                                margin-bottom: 10px;
                                color: @white-color!important;
                                &:hover{
                                    color: white!important;
                                    opacity: 0.7;
                                }
                            }
                        }
                    }
                }
            }
        }
    });


  .breakpoint-small-down({
    justify-content: flex-start;
  });
}

.full-width .search {
    position: absolute;
    top: 0px;
    width: 40%;
    height: 76px;
    /* max-width: 1600px; */
    /* left: 0; */
    right: 110px;
    z-index: 9999;

  form{
    max-width: 70%;
    float: right;
    margin: 29px 0px 0 0;
    .breakpoint-laptop-down({
      max-width: 70%;
      float: right;
      //margin: 30% auto;
      margin: 30px 0px 0 0;
    });
  }

  .text-grey-search-btn{
    background: #ffffff;
    position: relative;
    top: unset;
    width: auto;
    height: 43px;
    left: 0;
    right: 0;
    z-index: 11;
    padding-top: 0 !important;
    padding-bottom: 0 !important;
    padding-left: 0 !important;
    line-height: unset !important;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    border-bottom: 1px solid #d1d1d1;
    border-top: 1px solid #d1d1d1;
    border-right: 1px solid #d1d1d1;
  }

  &.content-wrapper, &#layout-content{
    top: 0px!important;
  }
  .breakpoint-large-down({
    background: none;
    position: absolute;
    /* top: 770px; */
    width: 100%;
    height: 75px;
    left: 0;
    right: 0;
    z-index: 1;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    margin: 0 auto;
    background: #2a3033;
  })
}



.full-width .close-search{
  background: url("../../assets/images/close.svg") center no-repeat;
  background-size: 28px;
  width: 60px;
  height: 50px;
  position: fixed;
  top: 26px;
  right: 36px;
  cursor: pointer;
  .breakpoint-laptop-down({
    right: 60px;
  });
  .breakpoint-large-down({
    background: @dark-color url("../../assets/images/close_white.svg") center no-repeat;
    background-size: 22px;
    width: 22px;
    height: 22px;
    padding: 0 0px 10px 10px;
    position: absolute;
    top: 20px;
    right: 20px;
  });
}





nav .pr.p-search.large.search-btn{
  .breakpoint-large-down({
    display: none;
  })
}

.search-btn{
  margin-right: 20px;
  cursor: pointer;
}

#menuToggle{
  display: none;
}

@media (max-width:1000px) {

  /* menu toggle effect mobile */

  #menuToggle {
    display: flex;
    flex-direction: column;
    position: absolute;
    right: 24px;
    top: 40px;
    z-index: 1;
    -webkit-user-select: none;
    user-select: none;
  }

  #menuToggle input
  {
    display: flex;
    width: 40px;
    height: 32px;
    position: absolute;
    cursor: pointer;
    opacity: 0;
    z-index: 2;
  }

  #menuToggle span
  {
    display: flex;
    width: 29px;
    height: 2px;
    margin-bottom: 5px;
    position: relative;
    background: @link-color;
    border-radius: 3px;
    z-index: 1;
    transform-origin: 5px 0px;
    transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
    background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
    opacity 0.55s ease;
  }

  #menuToggle span:first-child
  {
    transform-origin: 0% 0%;
  }

  #menuToggle span:nth-last-child(2)
  {
    transform-origin: 0% 100%;
  }

  #menuToggle input:checked ~ span
  {
    opacity: 1;
    transform: rotate(45deg) translate(-3px, -1px);
    //background: #36383F;
    background: @white-color;
    order: 3;
  }
  #menuToggle input:checked ~ span:nth-last-child(3)
  {
    opacity: 0;
    transform: rotate(0deg) scale(0.2, 0.2);
    background: @white-color;
  }

  #menuToggle input:checked ~ span:nth-last-child(2)
  {
    transform: rotate(-45deg) translate(0, -1px);
    background: @white-color;
  }

  #menu
  {
    position: absolute;
    width: 100vw;
    height: 100vh;
    margin: -40px 0 0 -93vw;
    padding: 50px 0 0 0;
    background-color: @dark-color;
    color: @white-color!important;
    font-size: 28px!important;
    -webkit-font-smoothing: antialiased;
    transform-origin: 0% 0%;
    transform: translate(100%, 0);
    transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
    font-weight: 500;
    text-align: center;
  }

  #menu li
  {
    //padding: 24px  0 0 0;
    transition-delay: 2s;
    text-align: center;
    .breakpoint-large-down({
      padding: 18px  0 0 0;
    })
  }

  #menu li a{
    color: @white-color;
    font-size: 22px;
    padding: 24px 0 0 0;
    float: left;
    width: 100%;
  }

  #menu{
    .search_field{
      width: 52px;
      margin: 0 auto;
      background-size: contain;
    }
      .dropdown-menu{
              padding-left: 0!important;
      }
  }

  #menu .dropdown-menu li a{
    padding: 5px 0 0 0;
    font-size: 16px;
  }

  #menu li.sign-in a{
    color: @date-text-color!important;
  }

  #menuToggle input:checked ~ ul
  {
    transform: none;
  }

  .hidden-xs{
    display: none;
  }

  #menuToggle .dropdown-menu{
    list-style-type: none!important;
    font-size: 0.8em;
    margin-top: 10px;

    li{
      padding-right: 0!important;
      padding-top: 0!important;
      a{
        color: #efefef;
      }
    }
  }

  #menuToggle .dropdown  span{
    display: none;
  }
}

@media (max-width:800px) {
  #menu {
    margin: -40px 0 0 -86vw;

  }
}
@media (max-width:300px) {
  #menu {
    margin: -40px 0 0 -81vw;
  }
}


.nav-item.search_field{
  a{
    .breakpoint-large-down({
      margin: 0px auto 20px auto;
      background: url('../../assets/images/search_white.svg') center no-repeat;
      background-size: contain;
      width: 50px;
      height: 50px;
      display: block;
    });
  }
}
