{% for partner in partners %}
	<div class="col-xs-12 partner-item">
		<div class="row">
            <div class="col-xs-12 partner_title mb-2"><a href="{{partner.instituion_url}}" target="_blank">{{partner.instituion}}</a></div>
		    <div class="col-xs-12 partner_description">{{partner.content|raw}}</div>
            <div class="col-xs-12 start-xs mb-2"><a class="btn btn-primary" href="{{partner.instituion_url}}" target="_blank">Visit website</a></div>
        </div>

        {% if insider_members.getIM(partner.id).count > 0 %}
        <div id="accordion-insider-members" class="insider-members-accordion">
            <div class="accordion-border insider-border">
                <div class="row middle-xs accordion-toggle toggle-insider-members">
                    <div class="col-xs start-xs member-toggle">Show members</div>
                    <div class="col-xs-2 end-xs plusminus">
                        <span class="plus"></span>
                    </div>
                </div>
                <div class="accordion-content insider-partners" style="display: none;">
                    <div class="row top-xs">
                        {% for profile in insider_members.getIM(partner.id) %}
                        <div class="col-xs-12 insider-content">
                            <div class="row insider-content-row">
                                <div class="col-md-5 col-xs-12 insider_image">
                                    {% if profile.avatar %}
                                    <img alt="{{ profile.names }}" src="{{profile.avatar.thumb(119,119,{'mode':'crop'})}}">
                                    {% else %}
                                    <img alt="{{ profile.names }}" src="{{ 'avatar.svg'|media }}" width="119" height="119" class="no-image">
                                    {% endif %}
                                </div>
                                <div class="col-md-7 col-xs-12 insider_info">
                                    <div class="insider_info_header"><h4>{{ profile.names }}</h4></div>
                                    <div class="insider_info_content">{{ profile.content|raw }}</div>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
        {% endif %}
	</div>
{% endfor %}


<script>
    $(document).ready(function() {
        $('.insider_info_content').find('*').removeAttr('data-aos');
    });
</script>